//use Open Sans font
html {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
body input, body button, body select, body textarea {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
